<%- include('../partials/header.ejs'); -%>

<main>
    <div class="container">
        <article>
            <h2><%- post.title %></h2>
            <p><%- post.text %></p>
        </article>
    </div>
</main>

<%- include('../partials/footer.ejs'); -%>