<%- include('../partials/header.ejs'); -%>

<main>
    <div class="container">
        <article>
            <h2>Hello</h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Provident quo consequuntur nostrum nisi ducimus quasi, harum amet error libero aperiam, animi modi laborum doloribus distinctio natus fugit deleniti consequatur excepturi.</p>
            <a href="/post/">Читать далее</a>
            <div class="likes-and-comments">
                <i class="far fa-heart"></i><span>123</span>
            </div>
        </article>
        <article>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Provident quo consequuntur nostrum nisi ducimus quasi, harum amet error libero aperiam, animi modi laborum doloribus distinctio natus fugit deleniti consequatur excepturi.</article>
    </div>
</main>

<%- include('../partials/footer.ejs'); -%>